# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=AIzaSyAm4YTyllV89OM-7_d6akdNoourIV0evvo
FIREBASE_API_KEY=AIzaSyCCpmeFoPbFJbcmyFp1Tzvqm5z63XK5jxU
FIREBASE_APP_ID=1:685467333286:web:151bf91598efe33114ba67
FIREBASE_PROJECT_ID=application-vivah
FIREBASE_STORAGE_BUCKET=application-vivah.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=685467333286
FIREBASE_AUTH_DOMAIN=application-vivah.firebaseapp.com
